:root {
    --bg_color: #FFFFFF;
    /* --light_green: linear-gradient(to right, #45b667 , #FFFFFF); */
    --btn_color: #3CAD6D;
    --dark_green: #0F6722;
    --footer_color: #FDF4EB;
    --text_color: black;
}

 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    
}
/* ---------------navbar---------------- */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--bg_color);
    color: white;
    font-size: 20px;
    padding: 30px;
}

.navbar img {
    
    width: 80px;
    height: auto;
    border-radius: 50%; 
    object-fit: cover;
    cursor: pointer;
   
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 40%;
    justify-content: space-between;
} 
nav a{
    text-decoration: none;
    color: var(--text_color);
}
nav a:hover{
    color: var(--btn_color);
}
.navbar .icons{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 20px;
    width: 15%;
    justify-content: space-between;
    
}
.navbar .icons a {
    color: black;
}

.navbar .icons a:hover{
    color: var(--btn_color);
}

.navbar .icons .cart{
    display: flex;
}
.navbar .icons ul{
    display: block;
}
.navbar .icons ul a{
    font-size: 15px;
    padding-right: 0;
}
.navbar .icons ul span{
    font: 10px;
    color: orange;
}

/* -------------------section home below nav---------- */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    padding: 50px;
    /* background-color: #dbf7e7 */
    background: linear-gradient(to right, #a1f2d36c, #FFFFFFA6);

}

.col1{
    padding-top: 50px;
    flex-basis: 45%;
    position: relative;
    margin-left: 60px;
    color: var(--text-color);
}

.col1 h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

.col1 p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 30px;
}

.col1 .shop_btn{

    padding: 10px;
    background: var(--btn_color);
    border-radius: 7px;
    width: 200px;
    margin-bottom: 30px;

}
.col1 .shop_btn a{
    color: white;
    font-size: 18px;
    font-weight: 500;
}


.col2{
    padding-top: 50px;
    position: relative;
    flex-basis: 55%;
    display: flex;
    flex-direction: row;
    align-items: left;
}




.image1{
    position: absolute;
    width: 300px;
    height: 200px;
}
.image2 {
    position: absolute;
    width: 300px;
    height: 600px;
}

.image1 {
    z-index: 1; /* Image 1 is below Image 2 */
    left: 0;
    top: -100px;
}

.image2 {
    z-index: 2; /* Image 2 is above Image 1 */
    left: 200px;
    top:-190px; /* Add a gap of 10px between the images */
}

/* ---------------instruction--------------- */
.instruction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    margin: 20px;
}

.instruct1, .instruct2, .instruct3, .instruct4{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.instruction i {
    font-size: 40px;
    color: orange;
}
.instruction p{
    font-size: 18px;
    color: black;
}

/* ------------best category------ */
.best_cat {
    display: flex;
    flex-direction: column;
}
.best_cat h3 {
    margin-left: 40%;
}
.best_cat .cat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    padding: 20px;

}

.img1, .img2, .img3, .img4, .img5{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.best_cat .cat img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #eee8e3;
    object-fit: cover;
}

.best_cat .cat p{
    margin-left: 28px;
    font-size: 18px;
}

/* -------------Product display----------------- */
/* styles.css */

/* Product Card Styles */
.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card sub {
    font-size: 14px;
    color: #888;
}

.rating {
    color: #f1c40f; /* Star color */
    font-size: 16px;
}

.checked {
    color: #f1c40f; /* Filled star color */
}

.swiper-wrapper{
    display: flex;
    flex-direction: row;
}

.swiper{
    width: 750px;
    height: 385px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

 /* Product card container */
.product {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:var(--bg-color) ;
}

.product h2{
    font-size: 54px;
    color: #095000;
}
.product p{
    padding: 10px;
}
.swiper{
    width: 90%;
    height: 385px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    object-fit: cover;
}

.swiper-slide {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    padding: 10px;
    height: 320px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* Product image */
.swiper-slide img {
    margin-top: 30px;
    position: relative;
    width: 180px;
    height: 140px;
    object-fit: cover;
    margin-bottom: 30px;
}

/* Product name */
.swiper-slide h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Price per kg */
.swiper-slide sub {
    margin-bottom: 25px;
    font-size: 14px;
    color: #090909;
} 

/* Star rating */
.rating {
    color: #c7c3c3; /* Star color */
    font-size: 16px;
}

.checked {
    color: #f1c40f; /* Filled star color */
}

/* --------next section shop now------------- */
.goShopping {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.first_col{
    /* padding-top: 20px; */
    flex-basis: 60%;
    position: relative;
    margin-left: 100px;
    color: var(--text-color);
}
.first_col img {
    margin-left: 20%;
    max-width: 300px;
    height: auto;
}
.second_col {
    padding-top: 50px;
    position: relative;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.second_col p{
    width: 60%;
    margin-bottom: 50px;
    font-size: 17px;
    font-weight: 400;
}

.second_col button {
    width: 60%;
    padding: 10px;
    background: var(--btn_color);
    color: #fff;
    border-radius: 7px;
}

/* -----------------overview-------------------- */
.overview {
    background: var(--dark_green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    margin: 20px;
    border-radius: 7px;
}

.ov1, .ov2, .ov3, .ov4 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.overview i{
    font-size: 40px;
    color: #3CAD6D;
}
.overview h3{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    z-index: 1;

}
.overview h3 span{
    font-size: 23px;
    z-index: 2;
    font-weight: 600;
}
.overview .ov3-span1{
    font-size: 23px;
    top: -30px;
    font-weight: 600;
}

.overview .ov3-span2{
    z-index: 2;
    font-weight: 600;
    font-size: 19px;
    top: 0;
}
.overview p{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.feedback{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #a1f2d36c;
    border-radius: 7px;
}
.feedback h3{
    padding: 30px;
}

.customer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* justify-content: space-between; */
}
/*  */

.carol, .michael, .favour {
    display: flex;
    flex-direction: row;
    background: #fff;
    border: #d8c7c7;
    border-radius: 7px;
    width: 350px;
    height: 250px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.1);
}

.user_image {
    width: 100px;
    height: 200px;
    flex-basis: 30%;
    position: relative;
}
.user_image img{
    width: fit-content;
    height: 100px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 10px;
}
.text {
    padding-top: 50px;
    position: relative;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: left;
}
.text p{
    margin-right: 15px;
}
.text h5 {
    display: flex;
    flex-direction: row;
}

/* --------------app------------- */
.app{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    border-radius: 7px;
    background: linear-gradient(to right, #beecbed0, #ffff);

}
.market
{
    flex-basis: 70%;
    width: 100%;
    margin-right: 40px;
    height:300px ;
    background: linear-gradient(to right, #8bf6bd6c,#99f9c2 #beeee5);

}
.market img {
    margin-left: 1px;
    width: 80%;
    height: 300px;
    border-radius: 7px;

}
.mobile_app{
    flex-basis: 30%;
    margin-left: 60px;
    width: 100%;
    height: 300px;
}
.mobile_app img{
    width: auto;
    height: 320px;
  
}
/* --partner */

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
}
.partner h3{
    margin-top: 20px;

}
.partner .camp{
    display: flex;
    flex-direction: row;
}
.camp img {
    width: 200px;
    height: fit-content;
}
/* ---------- */









/* ----------footer----------------- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* footer details */
.footer_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f8ececa1;
}

.company, .categories, .linking, .newsletter {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 20px;
}
.footer_details h3{
    margin-top: 17px;
    color: #000;
    font-weight: 500;
}
.footer_details h3:hover{
    color: var(--dark_green);
    font-weight: 500;
}
.company{
    margin-left: 30px;
    
    
}
.company .comp{
    max-width: 250px;
    height: 90px;
}
.company p{
    padding: 20px;
}
.social_media {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.social_media i{
    padding: 10px;
    background: #fff;
    color: var(--dark_green);
    border-radius: 5px;
}
.social_media i:hover {
    background: var(--dark_green);
    color: #fff;
}
.company .cassava {
    margin-right: 40px;
}

.categories{
    margin-left: 20px;
}
.categories ul {
    list-style: none;
}
.categories ul li{
    margin-bottom: 12px;
}
.categories ul li a{
    color: #000;
    font-size: 14px;
}
.categories ul li a:hover{
    color: var(--btn_color);
}

.linking ul {
    list-style: none;
}
.linking ul li{
    margin-bottom: 12px;
}
.linking ul li a{
    color: #000;
    font-size: 14px;
}
.linking ul li a:hover{
    color: var(--btn_color);
}

.newsletter {
    margin-right: 30px;
}

.newsletter p{
    font-size: 14px;
    width: 70%;
}
.newsletter input{
    width: 70%;
    padding: 10px;
    border-bottom: 2px solid #000;
}
.newsletter button{
    padding: 10px;
    background: var(--btn_color);
    width: 60%;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
}
.newsletter button:hover{
    background: #cff3db;
    color: var(--dark_green);
}
.newsletter img{
    height: 100px;
    width: 150px;
}

/* backtop */
.back_top {
    width: 100%;
    background: #3CAD6D;
    align-items: center;
    padding: 15px;
}
.back_top a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-left: 50%;
}





